<!DOCTYPE html>
<html>
<head>
  <title>Timelist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= render "layouts/header" %>
<div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      
      <% unless flash[:notice].nil? %>
        <%= flash[:notice] %>
      <% end %>
      <%= yield %>
      <%= "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
      </div>

      

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div> <!-- /container -->


</body>
</html>
